@import './variables.scss';

.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    .colored-box {
        height: 20px;
        width: 20px;
        background-color: $accent-color;
        margin-right: 10px;
    }
    h1 {
        font-size: 35px;
    }
}
.body-container {
    max-width: 850px;
    margin: 0 auto;
}

.fixed-footer {
    width: 100%; 
    background: $white;
    color: $black;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        font-size: 13px;
    }
    .title {
        font-weight: bold;
        text-align: center;
    }
    .left-container {
        margin-left: 30px;
        width: 50%;
    }
    .right-container {
        display: flex;
        width: 40%;
        justify-content: space-evenly;
        .phone-div,
        .email-div {
            a {
                text-decoration: none;
            }
        }
        .social-div {
            .icon-container {
                img {
                    width: 20px;
                    height: 20px;
                    margin: 0 5px;
                }
            }
        }
    }
}

// MOBILE STYLES 

@media screen and (max-width: 950px) {
    .fixed-footer {
        flex-direction: column-reverse;
        padding: 0 15px;
        .left-container {
            width: 100%;
            margin-left: 0;
        }
        .right-container {
            width: 100%;
            flex-wrap: wrap;
            justify-content: end;
            .phone-div {
                width: 40%;
            }
            .email-div {
                width: 50%;
            }
            .social-div {
                width: 50%;
                .title {
                    margin-top: 0;
                }
                .icon-container {
                    img {
                        margin-left: 0;
                    }
                }
            }
            .title {
                text-align: left;
            }
        }
    }
}