@import './variables.scss';

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
    .logo-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        .colored-block {
            height: 18px;
            width: 18px;
            background-color: $accent-color;
            margin-right: 5px;
        }
        h5 {
            text-transform: uppercase;
            margin-left: 15px;
        }
    }
    .nav-links {
        display: flex;
        justify-content: space-evenly;
        width: 40%;
        list-style: none;
        font-family: $main-font;
        font-weight: 300;
        .nav-active {
            color: $accent-color;
            border-bottom: 2px solid $accent-color;
        }
        a {
            text-decoration: none;
            color: $black;
            text-transform: uppercase;
        }
        a:hover {
            color: $accent-color;
        }
        .lang-switcher {
            background-color: $white;
            border: none;
            font-family: $main-font;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 16px;
            padding: 0px;
        }
        .lang-switcher:hover {
            cursor: pointer;
            color: $accent-color;
        }
    }
}

// SCROLL ARROW
.scrollTop {
    position: fixed;
    width: 100%;
    bottom: 20px;
    align-items: center;
    height: 20px;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
}
.scrollTop:hover {
    opacity: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}

@media screen and (max-width: 950px) {
    .nav-container {
        margin-top: 30px;
        .logo-link {
            flex-wrap: wrap;
            .colored-block {
                height: 15px;
                width: 15px;
            }
            h2 {
                margin: 0;
                font-size: 25px;
                width: 50%;
            }
            h5 {
                margin-left: 0;
                margin-top: 10px;
                font-size: 16px;
            }
            .line-break {
                display: none;
            }
            
        }
        .nav-links {
            display: none;
        }
    }
}
