@import './variables.scss';

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        .colored-block {
            height: 18px;
            width: 18px;
            background-color: $plum-color;
            margin-right: 5px;
        }
        h5 {
            text-transform: uppercase;
            margin-left: 15px;
        }
    }
    .nav-links {
        display: flex;
        justify-content: space-evenly;
        width: 30%;
        list-style: none;
        font-family: $main-font;
        font-weight: 300;
        a {
            text-decoration: none;
            color: $black;
            text-transform: uppercase;
        }
    }
}
