@import './variables.scss'; 

// 

// INDEX PAGE 

.background-container {
    // width: 40%;
    // max-width: 500px;
    // background-color: $background-color;
    // height: 700px;
    width: 100%;
    .color-bg {
        background-color: $background-color;
        width: 42%;
        height: 700px;
    }
    .about-container {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        .about-card {
            width: 375px;
            height: auto;
            text-align: center;
            background-color: $secondary-color;
            padding-top: 30px;
            box-shadow: -11.31px 11.31px 17px 0px rgba(131, 131, 124, 0.23);
            img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
            }
            .line {
                width: 25%;
                background-color: $accent-color;
                height: 3px;
                margin: 0 auto;
            }
            .social-links {
                background-color: $white;
                display: flex;
                justify-content: space-evenly;
                padding: 10px;
                img {
                    height: 30px;
                    width: 30px;
                }
            }
        }
        .about-text {
            width: 350px;
            padding: 0 30px;
            h1 {
                font-size: 100px;
                margin: 0;
            }
            .btn-container {
                display: flex;
                justify-content: space-between;
                width: 70%;
                .resume-btn {
                    background-color: $accent-color;
                    color: $white;
                }
                .resume-btn:hover {
                    background-color: $white;
                    border: 2px solid $accent-color;
                    color: $black;
                    font-weight: 500;
                }
                .project-btn {
                    background-color: $white;
                    color: $black;
                    border: 2px solid $black;
                }
                .project-btn:hover {
                    background-color: $accent-color;
                    color: $white;
                    border: 1px solid $accent-color;
                }
            } 
        }
    }
}