@import './variables.scss';

// Google Fonts 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

//Font Variables
$lato: 'Lato', sans-serif;
$black: #000;

// Styles 
h1 {
    font-family: $main-font;
    font-weight: 900;
    color: $black;
    font-size: 40px;
}
h2 {
    font-family: $main-font;
    font-weight: 900;
    color: $black;
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 25px;
}
h3 {
    font-family: $main-font;
    font-weight: 500;
    color: $black;
    font-size: 25px;
}
h5 {
    font-family: $main-font;
    font-weight: 300;
    color: $black;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}
p {
    font-family: $main-font;
    font-weight: 500;
    color: $black;
    font-size: 16px;
}
.btn {
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: none;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
}


