// Google Fonts 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

// GLOBAL
// $home-background: 


// FONTS
$main-font: 'Lato', sans-serif;
$RubikBold: 'Rubik', sans-serif;

// COLOR PALETTE
$black: #000;
$white: #fff;
$background-color: #e6dace;
$secondary-color: #f4ece6;
$accent-color: #0050ff;
// $primary-color: 
// $primary-color2: 
// $primary-color3:
// $primary-color4:
// $primary-color5:
// $primary-color6:

// BUTTONS
// $btn-font: 
// $btn-background: 
// $btn-border:
// $btn-color:
// $btn-background-active:
// $btn-border-active:
// $btn-color-active:
// $btn-background-disabled: 
// $btn-border-disabled: 
// $btn-color-disabled: 

// INPUTS
// $input-background: 
// $input-border-radius: 
// $input-height: 
// $input-width: 
// $input-border-width: 
// $input-border-color: 
// $input-padding: 
// $input-margin:
// $input-background-disable:
// $input-label-color:

// TYPOGRAPHY
// $color-h1: 
// $color-h2:
// $color-h3:
// $color-h4:
// $color-h5: 
// $color-h6:

